body {
  margin: 0;
  padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	color: #3c3c3c;
}

a {
	color: #FFFFFF;
}

header {
	text-align: center;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: 'space-around';
	text-align: 'center';
	background-color: #3c3c3c;
	height: 4em;
}

nav h3 {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 100;
}

nav h3 a {
	font-family: 'Roboto Condensed', sans-serif;
}

h1 {
	text-align: center;
	font-style: bold;
}

h3 {
	font-color: #FFFFFF;
}

ul {
	list-style: none;
}


img {
	font-size: 32px;
	color: #3c3c3c;
}

.no-match {
	color: #818181;
}

.profile-link {
	color: #3c3c3c;
}

.profile-info-list {
	text-align: center;
	padding: 0;
	margin: 0;
}

.stats li {
	display: inline-block;
	float: left;
	margin-right: 1em;
	text-align: center;
}

.stats-team-members {
	padding: 0;
	margin: 0;
}